.buttonsContainer {
    display: flex;
    column-gap: 24px;
    margin-bottom: 27px;
}

.responseContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 90px;
}

.imageContainer {
}

.image {
    max-width: 100%;
    object-fit: cover;
}

.textContainer{
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.code {
    font-size: 30px;
    margin-bottom: 12px;
}

.text {
}
.info {
}